/* 
    Document   : global.css
    Created on : Feb 22, 2011, 8:53:58 PM
    Author     : rjacoby
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

* {
    padding: 0 0;
    margin: 0 0;
}

body {
    width: 960px;
    margin: 0 auto;
    background: url('../images/background/background-top.png') repeat-x 0 0 #392D21;
    font-family: Verdana, Arian, sans-serif;
    font-size: 12px;
}

a {
    color: black;
}

#wrapper {
    background: url('../images/background/background.png') repeat-y 0 0 transparent;
}

nav {
    width: 230px;
    display: inline-block;
    vertical-align: top;
}

.navigation {
    padding-left: 15px;
}

.navigation ul, .navigation li {
    list-style: none inside none;
}

.navigation ul li a
{
    text-decoration: none;
}

.navigation ul li a:hover
{
    background: #CCC;
}

.navigation > li {
    padding: 5px 0;
    border-bottom: 1px solid;
    width: 70%;
}

#content {
    padding: 10px;
    display: inline-block;
    width: 700px;
}